ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  display: block;
}
/***** HEADER ******/
header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
}
h1,
button {
  margin: 1% 0 0 1%;
}
input {
  margin: 0.5% 0 0.5% 1%;
  width: 60%;
}
input[placeholder] {
  padding: 0.25% 0 0.25% 0.5%;
}
/****** MAIN ******/
#mail-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
}
.sidebar {
  width: 30%;
}
button {
  border: none;
  border-radius: 10%;
  padding: 0.5%;
}
ul li p {
  margin: 0 0 0 1%;
  text-decoration: none;
}
table,
th,
td {
  border: 2px solid #808080;
  border-collapse: collapse;
}
table {
  margin: 0 0 0 1%;
  width: 65%;
}
th,
td {
  padding: 0.5%;
  text-align: center;
  width: 30%;
}

